<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="../static/css/point.css">
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui blue header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="m-item right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="ten wide column">
                <div class="ui segment">
                    <img src="https://unsplash.it/800/600?image=1005" alt="" class="ui rounded image">
                </div>
            </div>

            <div class="six wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>

                <div class="ui attached segment">
                    <p class="m-text">段1段1段1段1段1段1段1段1段1段1段1段1段1段1段1段1段1段1段1段1段1段1段1</p>
                    <p class="m-text">段2段2段2段2段2段2段2段2段2段2</p>
                </div>

                <div class="ui attached segment">
                    <div class="ui orange basic label">编程</div>
                    <div class="ui orange basic label">写作</div>
                    <div class="ui orange basic label">编程</div>
                    <div class="ui orange basic label">写作</div>
                </div>

                <div class="ui attached segment">
                    <div class="ui blue basic label m-margin-tb-tiny">Java</div>
                    <div class="ui blue basic label m-margin-tb-tiny">Python</div>
                    <div class="ui blue basic label m-margin-tb-tiny">Java</div>
                    <div class="ui blue basic label m-margin-tb-tiny">Python</div>
                    <div class="ui blue basic label m-margin-tb-tiny">Java</div>
                    <div class="ui blue basic label m-margin-tb-tiny">Python</div>
                    <div class="ui blue basic label m-margin-tb-tiny">Java</div>
                    <div class="ui blue basic label m-margin-tb-tiny">Python</div>
                </div>

                <div class="ui bottom attached segment">
                    <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="731509022"><i class="qq icon"></i></a>
                </div>

                <div class="ui wechat-qr flowing popup transition hidden">
                    <img src="../static/images/index_footer.png" alt="" class="ui rounded image" style="width: 100px">
                </div>
            </div>
        </div>
    </div>

</div>

<br>
<br>
<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/index_footer.png" class="ui rounded image" alt=""
                             style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email</a>
                    <a href="#" class="item">QQ</a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Big White Cat</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...
                </p>
            </div>
        </div>

        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">
            Big White Cat Only for Study
        </p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.qq').popup({
        position: 'bottom center'
    });

    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });
</script>

<script type="text/javascript">
    /* 鼠标点击特效 */
    var a_idx = 0;
    jQuery(document).ready(function ($) {
        $("body").click(function (e) {
            var a = new Array("大白猫");
            var $i = $("<span/>").text(a[a_idx]);
            a_idx = (a_idx + 1) % a.length;
            var x = e.pageX,
                y = e.pageY;
            $i.css({
                "z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
                "top": y - 20,
                "left": x,
                "position": "absolute",
                "font-weight": "bold",
                "color": "#0066FF"
            });
            $("body").append($i);
            $i.animate({
                    "top": y - 180,
                    "opacity": 0
                },
                1500,
                function () {
                    $i.remove();
                });
        });
    });
</script>

</body>
</html>